/* Smartphones (portrait) ----------- */
@media screen
and (min-device-width: 320px)
and (min-device-height: 480px){
    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 30px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    /*font-stretch: extra-expanded;*/
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid gray;
/*    border-right: 1px solid lightgray;*/
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 18px;
    color: #7b7b7b;
    text-transform: uppercase;
    font-weight: 300;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 950px;
    min-height: 60%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 20%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}

.content #para {
    font-size: 10px;
}    
    
.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 950px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}

.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}

.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
/*    border-top: 3px solid #ff7a00; */
    font-family: arial ; 
    color: #7b7b7b;
}

.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}

.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}

#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
}

/* iPad (portrait) ----------- */
@media screen
and (min-device-width: 768px)
and (min-device-height: 1024px){
    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 30px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    font-stretch: extra-expanded;
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid lightgray;
/*    border-right: 1px solid lightgray;*/
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 18px;
    color: #7b7b7b;
    text-transform: none;
    /*text-transform: uppercase;*/
    font-family: arial;
    font-weight: 600;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 950px;
    min-height: 60%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 25%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}

.content #para {
    font-size: 10px;
}    
    
.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 950px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}

.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}

.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
/*    border-top: 3px solid #ff7a00; */
    font-family: arial; 
    color: #7b7b7b;
}

.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}

.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}

#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
}

/* Smartphones (landscape) ----------- */
@media screen
and (min-device-height: 320px)
and (min-device-width: 480px){
    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 30px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-stretch: extra-expanded;
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid lightgray;
/*    border-right: 1px solid lightgray;*/
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 18px;
    color: #7b7b7b;
    text-transform: uppercase;
    font-weight: 600;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 950px;
    min-height: 60%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 25%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}
  
.content #para {
    font-size: 14px;
} 
    
.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 950px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}

.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}

.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
/*    border-top: 3px solid #ff7a00; */
    font-family: arial; 
    color: #7b7b7b;
}

.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}

.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}

#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
}

/* iPad (landscape) ----------- */
@media screen
and (min-device-height: 768px)
and (min-device-width: 1024px){
    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 30px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-stretch: extra-expanded;
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid lightgray;
/*    border-right: 1px solid lightgray;*/
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 18px;
    color: #7b7b7b;
    text-transform: uppercase;
    font-weight: 600;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 950px;
    min-height: 60%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 25%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}
  
.content #para {
    font-size: 14px;
} 
    
.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 950px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}

.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}

.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
/*    border-top: 3px solid #ff7a00; */
    font-family: arial; 
    color: #7b7b7b;
}

.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}

.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}

#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
}

/*Desktops and Laptops*/
@media screen 
and (min-device-width: 1224px){
    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 925px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 35px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 925px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-stretch: extra-expanded;
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid lightgray;
/*    border-right: 1px solid lightgray;*/
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 19px;
    color: #7b7b7b;
    color: #0C090A;
    text-transform: uppercase;
    font-weight: 600;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 925px;
    min-height: 75%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 25%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}

.content #para {
    font-size: 14px;
} 
    
.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 925px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}

.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}

.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
/*    border-top: 3px solid #ff7a00; */
    font-family: arial; 
    color: #7b7b7b;
}

.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}

.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}

#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
}

/**Large Screen**/
/*@media only screen*/

/*and (min-device-width : 1824px) {*/
/*    a {
    text-decoration: none;
}

.background {
    background-color: #f0f0f0;
}

.logo {
    border-top: 20px solid;
    border-top-color: #ff7a00;
    height: 160px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial;
}

.logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 15px;
}

.logo div a{
    text-decoration: none;
}

.logo div p {
    margin-bottom: 0px; 
    margin-left: 10px; 
    font-size: 40px; 
    font-weight: 600; 
    color: #ff7a00;
}

.logo div img {
    float: right;
    margin-right: 5px;
}

.nav {
    position: relative;
    background-color: white;
    height: 45px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-stretch: extra-expanded;
}

.nav div {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px dotted white;
    border-left: 1px solid lightgray;
*/
/*    border-right: 1px solid lightgray;*/
/*
    border-bottom: 1px solid white;
}

.nav p {
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2.5px;
   
}

.nav a {
    font-size: 20px;
    color: #7b7b7b;
    text-transform: uppercase;
    font-weight: 600;
}

.nav a:hover {
    color: #ff7a00;
    text-decoration: none;
}

.active-nav p {
    border-top: 2px solid;
    border-top-color: #ff7a00;
}

.active-nav a {
    color: #ff7a00;
}
    
.main {
    margin-left: auto; 
    margin-right: auto; 
    width: 925px;
    min-height: 75%;
    height: inherit; 
    background-color: white; 
    border-top: 3px solid #ff7a00;
}

.sidebar {
    width: 25%; 
    height: auto; 
    min-height: 200px;
    padding-top: 10px;
    
    background-color: white; 
    float: left;
}

.side-navigation {
    width: 90%; 
    height: inherit; 
    margin-left: auto; 
    margin-right: auto;
}

.side-navigation h3 a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    /* color: #e36c04; */ /*orange*/
    color: #0C090A;
    width: 100%;
    text-decoration: none;
    padding-left: 10px;
}

.main-banner {
    width: 75%; 
    height: auto; 
    background-color: white; 
    float: left;
}

.content {
    width: 90%; 
    height: auto; 
    background-color: white; 
    margin-right: auto; 
    margin-left: auto;
}

.footer {
    clear: both;
    border-top: 1px solid;
    border-top-color: lightgray;
    height: 200px;
    width: 925px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.footer p {
    color: darkgray; 
    text-align: center;
}

.copyright {
    width: 100%; 
    height: 10%;
}

.copyright p {
    margin-bottom: 0px;
}

.organizations {
    width: 100%; 
    height: 90%; 
}

.organizations div {
    height: 100%; 
    width: 50%; 
    float: left;
}
*/

/*
.organizations div img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}
*/

/*
.organizations div p {
    color: darkgray; 
    text-align: left; 
    margin-top: 10px; 
    width: 250px; 
    font-size: 12px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 40px;
}
*/

/*
.heading {
    height: inherit; 
    text-align: left; 
    font-size: 20px;
    margin-bottom: 10px; 
    margin-top: 30px;
    font-weight: bolder;
    padding-top: 10px; 
    border-top: 3px solid #ff7a00; 
    font-family: arial; 
    color: #7b7b7b;
}
*/

/*
.heading1 {
    padding-top: 10px;
    border-top: 1px solid lightgray; 
    width: 250px;
    font-family: arial;
    font-size: 15px
}
*/

/*
.upbuttons {
    width: 200px; 
    height: 30px;
    background-color: white;
}
*/

/*
#upcoming {
    text-align: center; 
    margin-top: 40px; 
    font-size: 20px; 
    margin-bottom: 20px;
}
*/
/*}*/
