.link-people:hover {
    text-decoration: none;
}

.profile-picture-area {
    width: 100%;
/*    height: inherit;*/
    height: 150px;
}

.profile-area {
    width: 20%; 
    height: 100%; 
    float: left;
}

.pic{
    margin-left: auto; 
    margin-right: auto; 
    height: 90px; /*65%; */
    width: 80px;
}

.names p{
    text-align: center
}

.names p a {
    font-size: 100%;
}

.profile-picture {
    width: 40%;
    height: inherit; 
    float: left;
}

.profile-contact {
    width: 60%;
    height: inherit; 
    float: left;
}

.profile-info {
    word-wrap: break-word;
    font-size: 17px;
    text-align: justify;
}

.des {
    font-size: 120%;
}

.content .profile-row {
    height: 160px;
}

.table-row-border {
    border-top: 2px #ff7a00 solid;
    background-color: white;
}
