.publication {
    font-size: 16px; 
    text-align: left; 
    margin-left: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    word-wrap: break-word;
/*    border-top: 2px solid lightgray; */
}

.publication li {
    font-size: 14px;
    margin-top: 16px;
}

.publication a:link {
    color:black
}

.publication a:visited {
    color: black
}

.publication a:hover {
    color: darkorange
}

.pubdate {
    border-bottom: 1px solid #ff7a00; 
    text-align: left; 
    margin-left: 10px;
    margin-top: 12px;
    width: 50%; 
    font-size: 20px
}

.btn {
    width: 200px;
    height: 40px;
    outline-color: white;
    background-color: white;
    border: none;
    font-family: Arial;
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    
}

.container .btn p {
    text-align: left; 
    font-size: 14px;
}

.container p {
    font-size: 18px;
}



.name {
    margin-top: 0px;
    margin-left: 20px;
}

.abstract {
    width: 600px; 
    text-align: justify;
}

.container {
    padding-left: 0px;
    width: 600px;
    padding-top: 0px;
    border-top: 1px solid lightgray; 
}

.pub-heading {
    width: 70%; 
    border-top: 2px solid #ff7a00; 
    padding-top: 10px; 
    font-size: 110%;
    margin-top: 30px;
}
