.researcher-link {
    text-decoration: none;
}

.researcher-link:hover {
    text-decoration: none;
}

.research-topic {
    width: 70%; 
    padding-top: 10px; 
    font-size: 17px;
    margin-top: 30px;
    color: #7b7b7b;
    font-weight: bold
}

.research-topic2 {
    width: 70%; 
    border-bottom: 2px solid #ff7a00; 
    padding-top: 10px; 
    font-size: 120%;
    margin-top: 30px;
    color: #ff7a00;
}

.research-topic a {
    text-decoration: none;
    color: #ff7a00;
}

.research-topic a:hover {
    text-decoration: none;
    color: #0031ff;
}
