.smaller-logo {
    border-top: 10px solid;
    border-top-color: #ff7a00;
    height: 140px;
    width: 925px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: Verdana;
}
/*
.smaller-logo-title {
    height: 100%; 
    width: 70%; 
    float: left; 
    padding-top: 20px;
}


.smaller-logo-logo {
    height: 100%; 
    width: 30%; 
    float: left; 
    padding-top: 20px;
}
*/

.smaller-logo a{
    text-decoration: none;
}


.smaller-logo div {
    height: 100%; 
    width: 50%; 
    float: left; 
    padding-top: 20px;
}


.smaller-logo div p {
    margin-bottom: 1px; 
    margin-left: 30px; 
    font-size: 24px; 
    font-weight: 800; 
    font-family: verdana;
    color: #ff7a00;
}


.smaller-logo div span {
    margin-bottom: 1px; 
    margin-left: 30px; 
    font-size: 22px; 
    font-weight: 800; 
    font-family: verdana;
    color: #ff7a00;
}

.smaller-logo div a{
    text-decoration: none;
}

.smaller-logo div img {
    margin-right: 5px;
    width: 60%; 
    float: right;
}


/*
.smaller-logo-title-main {
    margin-bottom: 1px; 
    margin-left: 30px; 
    font-size: 24px; 
    font-weight: 800; 
    font-family: verdana;
    color: #ff7a00;
}

.smaller-logo-title-sub {
    margin-bottom: 1px; 
    margin-left: 45px; 
    font-size: 20px; 
    font-weight: 800; 
    font-family: verdana;
    color: grey;
}
*/
.side-option-heading {
    height: 60px;
}

.side-option-heading h3 {
    margin-top: 15px;
    padding-top: 10px;
    width: 70%;
    border-top: 2px solid #ff7a00;
    text-transform: uppercase;
    font-family: arial;
    font-size: 18px;
    text-align: center;
    color: lightgray;
}

.side-options {
    height: auto;
}

.main-pane {
    width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    height: auto;
    padding: 0px;
}

.menu li {
    height: auto;
    font-size: 100%;
    font-weight: 600;
    word-wrap: normal;
    width: 100%;
    font-family: arial;
    text-align: left;
}

.menu li a {
    display: block;
    padding: 6px;
    width: 100%;
    text-decoration: none;
    color: darkgray;
/*    border-top: 1px darkgray dotted;*/
/*    border-bottom: 1px darkgray dotted;*/
    border-left: 1px white dotted;
}

.menu li a:hover {
    text-decoration: none;
    color: #ff7a00;
    border-left: 1px #ff7a00 dotted;
}

.menu li.separator {
    height:1px;
    background-color:lightgrey;
}

.menu li a.active{
    color: #ff7a00;
    border-left: 1px #ff7a00 dotted;
}

.active-leaf {
    width: 100%;
    color: #ff7a00;
/*    font-size: 120%;*/
}

.active-leaf a {
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
/*    font-weight: 600;*/
    color: #ff7a00;
/*
    border-top: 1px darkgray dotted;
    border-bottom: 1px darkgray dotted;
*/
}

.active-leaf a:hover  {
    text-decoration: none;
/*    font-weight: 600;*/
    color: #ff7a00;
}

.menu-description {
    font-family: arial; 
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 30px;
    word-wrap: break-word;
    font-size: 13
}
.agenda-title {
    text-align: left;
    margin: 0px;
    font-family: arial;
    font-size: 14px;
}

.simple-list {
    font-weight: 600;
    margin-left: 50px;
}


